# Check how many fics have only slash pairings with/without identity terms

In [1]:
import os
import pandas as pd

# Load metadata

fandoms = [
    'allmarvel',
    'supernatural',
    'harrypotter',
    'dcu',
    'sherlock',
    'teenwolf',
    'starwars',
]

metadata = {}

for fandom in fandoms:
    metadata_path = f'/usr2/scratch/fanfic/ao3_{fandom}_text/stories.csv'
    metadata[fandom] = pd.read_csv(metadata_path)

In [4]:
metadata['allmarvel']['category'].sample(100)

223501                  []
137093             ["M/M"]
138686           ["Multi"]
4178               ["M/M"]
173208      ["F/M", "Gen"]
233452             ["M/M"]
88342              ["M/M"]
13236              ["F/M"]
114411             ["M/M"]
178779             ["M/M"]
9978                    []
243303    ["F/F", "Multi"]
91401                   []
8969               ["F/M"]
149064    ["M/M", "Multi"]
35493       ["Gen", "F/M"]
20988              ["F/M"]
133452           ["Multi"]
212984             ["M/M"]
88045              ["M/M"]
220966             ["F/M"]
226489      ["M/M", "F/M"]
158693             ["M/M"]
119900             ["F/M"]
120006                  []
165325             ["F/F"]
168175             ["M/M"]
172387             ["Gen"]
122069             ["F/M"]
79345              ["F/M"]
                ...
59395              ["F/M"]
223752      ["F/M", "Gen"]
64540              ["F/M"]
54522              ["M/M"]
234442             ["M/M"]
21681              ["F/F"]
207559                  []
170617             ["F/F"]
48453                   []
178500             ["F/M"]
150900                  []
208873                  []
23543              ["M/M"]
234332             ["M/M"]
25389              ["F/M"]
161940             ["F/M"]
44609              ["Gen"]
194146             ["M/M"]
30619     ["M/M", "Other"]
166005             ["M/M"]
37818       ["Gen", "M/M"]
110430             ["M/M"]
57794       ["Gen", "M/M"]
239706             ["M/M"]
40954                   []
115180             ["M/M"]
180824             ["F/M"]
235606             ["F/F"]
194634             ["M/M"]
148324      ["F/F", "F/M"]
Name: category, Length: 100, dtype: object

In [9]:
for fandom in fandoms:
    
    metadata[fandom]['only_slash'] = metadata[fandom]['category'].map(
        lambda x: all(cat in ['F/F', 'M/M'] for cat in eval(x)))

In [11]:
lines = []

for fandom in fandoms:
    n_only_slash = sum(metadata[fandom]['only_slash'])
    lines.append([fandom, n_only_slash, len(metadata[fandom])-n_only_slash])
    
pd.DataFrame(lines, columns=['fandom', 'num_only_slash', 'num_other'])

         fandom  num_only_slash  num_other
0     allmarvel          115231     129969
1  supernatural          112443      77252
2   harrypotter           86690      92717
3           dcu           62764      60837
4      sherlock           68312      49288
5      teenwolf           63743      34576
6      starwars           31272      50937

In [ ]:
# Check for LGBTQ identity terms in those fics
import re

marked_labels = ['transgender', 'trans', 'queer', 'lesbian', 'gay', 'homosexual']
# unmarked_labels = ['heterosexual', 'cisgender', 'cis']